h1 {
	text-align: center;
}
span {
	margin: 10px 0;
	line-height: 50px;
}
form {
	max-width: 800px;
	margin: 50px auto 0;
	padding: 0 20px;
}

.form-control {
	width: auto;
	display: inline-block;
	border: none;
	border-bottom: 1px dotted #000;
	padding: 0;
}

::-webkit-.form-control-placeholder {
	color: #00ff00;
}

.btn {
	display: block;
	margin-top: 20px;
}